html {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    /*background-color: #253a4d;*/
}

/*body, html {
    height: 100%;
    margin: 0;font-style: normal;
}*/
.header-section {
    overflow: hidden;
}

    .header-section.home-one {
        background: url(../ImageRepository/header-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        padding-top:85px;
    }

        .header-section.home-one .header-content {
            padding: 150px 0px;
        }

            .header-section.home-one .header-content .header-text-wrap h1,
            .header-section.home-one .header-content .header-text-wrap p,
            .header-section.home-one .header-content .header-text-wrap a {
                color: #fff;
            }

            .header-section.home-one .header-content .header-text-wrap h1 {
                font-size: 60px;
                font-weight: 700;
                margin-bottom: 0px;
            }

            .header-section.home-one .header-content .header-text-wrap p {
                font-weight: 600;
                margin-bottom: 0px;
                padding: 30px 0px;
            }

.site-btn {
    background-color: #d9232d;
    border-color: #d9232d;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: white;
}

    .site-btn:hover {
        background-color: #dd5057;
        border-color: #dd5057;
        color: white;
    }

nav {
    /*box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);*/
    position: fixed;
    padding-left: 110px;
    padding-right: 110px;
    background-color: #fdd156;
    color: white;
}

.nav-item:hover {
    color: #d9232d;
}


/*  12. Info-two Section Style
/*----------------------------------------*/
.info-two-section {
    overflow: hidden;
}

    .info-two-section .pattern {
        position: absolute;
        top: 0;
        width: 225px;
        left: 50px;
    }

    .info-two-section .info-left .sub-text {
        width: 455px !important;
        margin-bottom: 20px;
    }

    .info-two-section .info-left p {
        width: 200px;
    }

    .info-two-section.home-one .info-right {
        padding-right: 0px;
    }

        .info-two-section.home-one .info-right img {
            float: right;
        }

    .info-two-section.home-one .info-left-wrap {
        max-width: 485px;
        float: right;
    }

    .info-two-section.home-one .bottom-txt-wrap img {
        width: 50px;
        margin-bottom: 20px;
    }

    .info-two-section.home-two .info-right-wrap {
        max-width: 485px;
    }

    .info-two-section.home-two .info-right .blue-btn {
        background: #621cf6;
        border-radius: 30px;
        padding: 10px 38px;
    }

/*----------------------------------------*/


#list {
    list-style: none;
}

    #list li {
        text-align: center;
        /* line-height: 50px; */
        opacity: 0;
        margin-top: 90px;
        font-size: 40px;
        font-weight: 700;
        margin-right: 20px;
    }

        #list li:nth-child(2) {
            animation-delay: 0.5s;
        }

        #list li:nth-child(3) {
            animation-delay: 0.9s;
        }

        #list li:nth-child(4) {
            animation-delay: 2s;
        }


@@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, -30%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 10%, 10%);
    }

    0% {
        top: 0px;
    }

    25% {
        top: 200px;
    }

    75% {
        top: 50px
    }

    100% {
        top: 100px;
    }
}

.boxContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 465px;
}

.box-text {
    margin-top: 14px;
    margin-bottom: 25px;
    font-size: 14px;
    color: #8b95a1;
    padding-left: 20px;
    padding-right: 20px;
    transition: color 1s ease;
}

.box-img {
    margin-top: 30px;
    height: 140px;
    width: auto;
}

.boxes {
    padding-top: 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 280px;
    height: 440px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgb(45 54 64 / 5%);
    border: 1px solid black;
    background-color: #fff;
    transition: .2s;
    text-align: center;
    color: black;
}

    .boxes:hover {
        width: 290px;
        height: 450px;
        color:;
    }

        .boxes:hover + p.box-text {
            color: black;
        }

.box-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 180px;
    height: 42px;
    padding-bottom: 2px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 15px;
    color: black;
    transition: .2s;
}

    .box-btn:hover {
        background-color: #d9232d;
        color: white;
    }

a {
    text-decoration: none;
}

/* Card Styles */

.card-sl {
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-image img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 8px 8px 0px 0;
}

.card-action {
    position: relative;
    float: right;
    margin-top: -25px;
    margin-right: 20px;
    z-index: 2;
    color: #E26D5C;
    background: #fff;
    border-radius: 100%;
    padding: 8px;
    font-size: 15px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

    .card-action:hover {
        color: #fff;
        background: #E26D5C;
        -webkit-animation: pulse 1.5s infinite;
    }

.card-heading {
    font-size: 18px;
    font-weight: bold;
    background: #fff;
    padding: 10px 15px;
}

.card-text {
    padding: 10px 15px;
    background: #fff;
    font-size: 14px;
    color: #636262;
}

.card-button {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    background-color: #1F487E;
    color: #fff;
    border-radius: 0 0 8px 8px;
}

    .card-button:hover {
        text-decoration: none;
        background-color: #1D3461;
        color: #fff;
    }



.site-btn {
    background-color: #d9232d;
    border-color: #d9232d;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: white;
}

    .site-btn:hover {
        background-color: #dd5057;
        border-color: #dd5057;
        color: white;
    }

#job-img {
    height: 180px;
}


.float-left {
    float: left;
}

.bi {
    color: #d9232d;
    font-size: 34px;
    margin-right: 10px;
    margin-left: 8px;
}

.category-card-names {
    padding-top: 11px;
}
/*  18. Team Section 
/*----------------------------------------*/
.team-section {
    background: url(/ImageRepository/team-bg.jpg);
    background-size: cover;
    background-position: center center;
}

    .team-section .title {
        color: #fff;
        margin-bottom: 80px;
    }

    .team-section .single-team {
        position: relative;
        border-radius: 3px;
        overflow: hidden;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

        .team-section .single-team:hover {
            cursor: pointer;
            -webkit-box-shadow: 0px 4px 25px rgba(255, 255, 255, 0.22);
            box-shadow: 0px 4px 25px rgba(255, 255, 255, 0.22);
            -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
        }

        .team-section .single-team .thumb {
            position: relative;
        }

            .team-section .single-team .thumb img {
                width: 100%;
            }

        .team-section .single-team .details {
            padding: 20px 0px;
        }

            .team-section .single-team .details h4,
            .team-section .single-team .details p {
                margin-bottom: 0px;
                color: #fff;
            }

            .team-section .single-team .details ul {
                margin-top: 8px;
            }

                .team-section .single-team .details ul li {
                    display: inline-block;
                }

                    .team-section .single-team .details ul li a {
                        font-size: 18px;
                        color: #fff;
                        padding: 5px;
                    }

                        .team-section .single-team .details ul li a:hover {
                            color: #fff !important;
                        }

    .team-section .details.yellow {
        background: #ffc000;
    }

    .team-section .details.purple {
        background: #621cf6;
    }

    .team-section .details.purple2 {
        background: #9f34fe;
    }

    .team-section .details.green {
        background: #32b46d;
    }
.section-gap {
    padding: 100px 0px;
}
/*----------------------------------------*/