<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Търсене и предлагане на услуги</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVC_Freelancer.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

    <link rel="stylesheet" href="assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="assets/css/icofont.min.css" />
    <link rel="stylesheet" href="assets/css/animate.css" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/odometer-theme-default.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
   
</head>
<body>
    <header>
        <nav  class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Фриленсър</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Job" asp-action="Index">Начало</a>
                        </li>
                        <li class="">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Job" asp-action="Add">Add Job</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>


    


        <main >
            @RenderBody()
        </main>

    @*<footer class="footer-section section-gap-top home-one">
        <div class="container">
            <div class="row footer-top d-flex justify-content-between">
                <div class="col-lg-4 col-md-6 col-6 footer-widgets">
                    <p>
                        It is a long established fact that
                        reader will be distracted the readable
                        content of a page when looking at its
                        point of using desktop.
                    </p>
                    <ul class="social-lists">
                        <li><a href="#"><i class="icofont-facebook"></i></a></li>
                        <li><a href="#"><i class="icofont-twitter"></i></a></li>
                        <li><a href="#"><i class="icofont-instagram"></i></a></li>
                        <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 col-6 footer-widgets">
                    <div class="single-widget">
                        <h4 class="wiget-title">About</h4>
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Partners</a></li>
                            <li><a href="#">Career</a></li>
                            <li><a href="#">Reviews</a></li>
                            <li><a href="#">Conditions</a></li>
                            <li><a href="#">Help</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-6 footer-widgets">
                    <div class="single-widget">
                        <h4 class="wiget-title">Services</h4>
                        <ul>
                            <li><a href="#">Official lottery</a></li>
                            <li><a href="#">100% Safe Secure</a></li>
                            <li><a href="#">Instant Payout </a></li>
                            <li><a href="#">Performance Bonus</a></li>
                            <li><a href="#">Dedicated Support</a></li>
                            <li><a href="#">No commission</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-6 footer-widgets">
                    <div class="single-widget">
                        <h4 class="wiget-title">Company</h4>
                        <ul>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Customers</a></li>
                            <li><a href="#">Apps</a></li>
                            <li><a href="#">Lottery</a></li>
                            <li><a href="#">Bonues</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row footer-bottom section-gap-top d-flex align-items-center">
                <div class="col-md-6">
                    <h1>
                        Don't wanna miss Update? <br>
                        Let us Subscribe.
                    </h1>
                </div>
                <div class="col-md-6">
                    <div class="input-group subscribe-wrap">
                        <input class="form-control" type="email" placeholder="Enter Your Email">
                        <button class="btn-style red-btn">Subscribe Now</button>
                    </div>
                </div>
            </div>
            <div class="row copyright-bottom d-flex align-items-center">
                <div class="col-md-6">
                    <p><a href="templateshub.net">Templates Hub</a></p>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li><a href="#">Sitemap</a></li>
                        <li><a href="#">Privecy Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>*@
    <footer class="footer-section section-gap-top home-one">
            <div class="container">
                <div class="row footer-top d-flex justify-content-between">
                    <div class="col-lg-4 col-md-6 col-6 footer-widgets">
                        <p>
                            It is a long established fact that
                            reader will be distracted the readable
                            content of a page when looking at its
                            point of using desktop.
                        </p>
                        <ul class="social-lists">
                            <li><a href="#"><i class="icofont-facebook"></i></a></li>
                            <li><a href="#"><i class="icofont-twitter"></i></a></li>
                            <li><a href="#"><i class="icofont-instagram"></i></a></li>
                            <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-6 col-6 footer-widgets">
                        <div class="single-widget">
                            <h4 class="wiget-title">About</h4>
                            <ul>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Partners</a></li>
                                <li><a href="#">Career</a></li>
                                <li><a href="#">Reviews</a></li>
                                <li><a href="#">Conditions</a></li>
                                <li><a href="#">Help</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-6 footer-widgets">
                        <div class="single-widget">
                            <h4 class="wiget-title">Services</h4>
                            <ul>
                                <li><a href="#">Official lottery</a></li>
                                <li><a href="#">100% Safe Secure</a></li>
                                <li><a href="#">Instant Payout </a></li>
                                <li><a href="#">Performance Bonus</a></li>
                                <li><a href="#">Dedicated Support</a></li>
                                <li><a href="#">No commission</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-6 footer-widgets">
                        <div class="single-widget">
                            <h4 class="wiget-title">Company</h4>
                            <ul>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Customers</a></li>
                                <li><a href="#">Apps</a></li>
                                <li><a href="#">Lottery</a></li>
                                <li><a href="#">Bonues</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row footer-bottom section-gap-top d-flex align-items-center">
                    <div class="col-md-6">
                        <h1>
                            Don't wanna miss Update? <br>
                            Let us Subscribe.
                        </h1>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group subscribe-wrap">
                            <input class="form-control" type="email" placeholder="Enter Your Email">
                            <button class="btn-style red-btn">Subscribe Now</button>
                        </div>
                    </div>
                </div>
                <div class="row copyright-bottom d-flex align-items-center">
                    <div class="col-md-6">
                        <p><a href="templateshub.net">Templates Hub</a></p>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li><a href="#">Sitemap</a></li>
                            <li><a href="#">Privecy Policy</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
