
<br></br>
<br></br>
<div class="d-flex justify-content-center">
    <div>
        <a asp-controller="job" asp-action="messages" class="btn btn-warning">Съобщения</a>
    </div>
    <div style="margin-left:5px;">
        <a asp-controller="Admin" asp-action="UsersList" class="btn btn-success">Потребители</a>
    </div>
</div>
<br></br>