<br></br>
<br></br>
<h2 class="d-flex justify-content-center"><b><i>За съжаление вашият акаунт бе блокиран от администратора.</i></b></h2>
<br>
<br>
<div class=" d-flex justify-content-center">
    <img src="~/ImageRepository/undraw_warning_re_eoyh.svg" width="300px; ">
</div>
<br>
<br>
<br>
<br>
<div class="d-flex justify-content-center">
    <a class="btn btn-warning" asp-area="Identity" asp-page="/Account/Register">Създай нов акаунт</a>
    <a class="btn btn-info" style="margin-left:10px;" asp-area="Identity" asp-page="/Account/Login">Вход с друг акаунт</a>
</div>
<br>
<br>
<div class="d-flex justify-content-center">
    <p><b>Кога ще можете да влезете в профила си?</b> <i> Когато администраторът отблокира акаунта Ви.</i></p>
</div>
<br>