@model MVC_Freelancer.Models.InputJobModel

<section class="header-section page-header" style="margin-top:50px;">
    <div class="container">
        <div class="row section-gap">
            <div class="col-md-12">
                <h1 style="color:white;">За нас</h1>
            </div>
        </div>
    </div>
</section>


<section class="overview-section section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 tab-left">
                <div class="nav float-left flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <div  onmouseover="mouseOver()" onmouseout="mouseOut()" onclick="forMe()" style="cursor:pointer;">
                        <a class="nav-link active" id="v-pills-overview-tab" data-toggle="pill" 
                           aria-controls="v-pills-overview" aria-selected="true">
                            <img src="~/ImageRepository/aa2.png" alt="">
                            <h4 id="h4Txt">За мен</h4>
                        </a>
                    </div>
                    <br>
                    <div onclick="forSite()" style="cursor:pointer;">
                        <a class="nav-link" id="v-pills-mission-tab" data-toggle="pill" 
                           aria-controls="v-pills-mission" aria-selected="false">
                            <img src="~/ImageRepository/aa3.png" alt="">
                            <h4>За сайта</h4>
                        </a>
                    </div>
                    <br>
                    <div onclick="infoBlock3" style="cursor:pointer;">
                        <a class="nav-link" id="v-pills-vision-tab" data-toggle="pill"  
                           aria-controls="v-pills-vision" aria-selected="false">
                            <img src="~/ImageRepository/aa1.png" alt="">
                            <h4>Някаква информация</h4>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-lg-8 col-md-12 tab-right">
                <div  class="tab-content" id="v-pills-tabContent">
                    <div  class="tab-pane fade show active" id="v-pills-overview" 
                         aria-labelledby="v-pills-overview-tab">
                        <h2 id ="aboutUs-Info-Title">
                            Основател:
                        </h2>
                        <p id="aboutUs-Info-Text">
                            Аз съм Сечкин, уча в ПГМЕТТ (Професионална гимназия по механотехника, електроника,
                            телекомуникации и транспорт) „Христо Ботев“. Занимавам се с програмиране. На <span id="AdminYears">0</span>
                            години съм.Обичам да преследвам мечтите и целите си.
                            Благодаря на абсолютно всички учители, които ме научиха и най-вече на госпожа Н. Йорданова и
                            господин Н. Христов. 
                        </p>
                    </div>
                </div>
            </div>


            @*<div>
            <div id="adminData">
            <p>
            Аз съм Сечкин, уча в ПГМЕТТ (Професионална гимназия по механотехника, електроника,
            телекомуникации и транспорт) „Христо Ботев“. Занимавам се с програмиране. На <span id="AdminYears">a</span>
            години съм.
            </p>
            </div>
            <div id="webSiteData">
            <p>
            Сайтът е програмиран с езиците HTML, CSS, JavaScript, C# и .Net Core.
            </p>
            </div>
            </div>*@
        </div>
    </div>
</section>


@section Scripts
    {
    <script>


    </script>
}