@model MVC_Freelancer.Models.InputJobModel

<h1>Add Job</h1>
<hr />

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DeadLine" class="control-label"></label>
        <input asp-for="DeadLine" class="form-control" />
        <span asp-validation-for="DeadLine" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Progress" class="control-label"></label>
        <input asp-for="Progress" class="form-control" />
        <span asp-validation-for="Progress" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CategoryId" class="control-label"></label>
        <select asp-for="CategoryId" class="form-control" asp-items="@Model.Categories"></select>
    </div>

    <div class="form-group">
        <label asp-for="Image" class="control-label"></label>
        <input asp-for="Image" class="form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
@*
    <div id="Need" class="form-group">
        <label asp-for="Needs" class="control-label"></label>
        <a class="btn btn-success" onclick="AddNeed()">+</a>
    </div>*@
    <input type="submit" value="submit" />
</form>

@section Scripts
    {
    <script>
        var needIndex = 0;

        function AddNeed() {
            $("#Need")
                .append("<div> Name:<input type='text' name='Need["+needIndex+"].Name'/> Description: <input type='text' name='Need["+needIndex+"].Description'/> </div>");
            needIndex++;
        }
    </script>
}