@model MVC_Freelancer.Models.InputJobModel
<br></br>
<br></br>
<br></br>
<form method="post" enctype="multipart/form-data">
    <input asp-for="Id" type="hidden">
    <div class="d-flex justify-content-center">
        <p asp-for="File" class="control-label" style="color:red;">(Внимание! Прекаченият файл трябва да е с разширение .zip (АРХИВИРАН))</p>
    </div>
    <div class="d-flex justify-content-center">
        <label asp-for="File" class="control-label">За да прекачите извършената работа, натиснете полето отдолу:</label>
    </div>
    <br>
    <div class="form-group d-flex justify-content-center">
        <input asp-for="File" style="display:none;" type="file" id="file" required />
        <label id="file2" onclick="func()" for="file" style="display:grid; background-color:#d7d0d0; width:250px; height:250px; place-items:center; cursor:pointer;">
            <i id="fileLogo2"  class="bi bi-check" style="display:none; font-size:28px;"></i>
            <i id="imgLogo1" class="bi bi-archive-fill" style="font-size:40px; color:#676f76;"></i>
        </label>
        <span asp-validation-for="File" class="text-danger"></span>
    </div>
    <br><br><br>
    <div class="d-flex justify-content-center">
        <input type="submit" class="btn btn-success" value="Предай" />
    </div>
    <br>
</form>

<style>

</style>

<script>


    function func() {
        setTimeout(() => { document.getElementById('fileLogo2').style.display = 'block'; }, 3500);
        document.getElementById('file2').style.color = 'green';
        document.getElementById('imgLogo1').style.display = 'none';

    }
           
</script>