@model MVC_Freelancer.Models.InputJobModel

<section class="header-section page-header" style="margin-top:50px;">
    <div class="container">
        <div class="row section-gap">
            <div class="col-md-12">
                <h1 style="color:white;">Услуги</h1>
            </div>
        </div>
    </div>
</section>


<section class="service-list-section section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <div class="thumb">
                        <img src="~/ImageRepository/sr1.png" alt="">
                        <a href="service-details.html">
                            <h4>
                                Бази <br>
                                данни
                            </h4>
                        </a>
                    </div>
                    <div class="details">
                        <p>
                            Всякакви ИТ услуги с бази данни. Игри, 
                            уеб приложения, конзолни приложения, 
                            мобилни приложения, и други...
                        </p>
                        <a class="btns-style" href="service-details.html"><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <div class="thumb">
                        <img src="~/ImageRepository/sr2.png" alt="">
                        <a href="service-details.html">
                            <h4>
                                Фиксиране на <br>
                                грешки
                            </h4>
                        </a>
                    </div>
                    <div class="details">
                        <p>
                            Фиксиране на всякакви програмни грешки. 
                            Front-end, Back-end, мобилни приложения,
                            конзолни приложения и други.
                        </p>
                        <a class="btns-style" href="service-details.html"><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <div class="thumb">
                        <img src="~/ImageRepository/sr3.png" alt="">
                        <a href="service-details.html">
                            <h4>
                                Домейн и  <br>
                                хостинг услуги
                            </h4>
                        </a>
                    </div>
                    <div class="details">
                        <p>
                            Споделяне на уеб сайтове в интернет.
                            За всякакви цени. Право но общуване с 
                            продавача и/или купувача (клиента).
                        </p>
                        <a class="btns-style" href="service-details.html"><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <div class="thumb">
                        <img src="~/ImageRepository/sr4.png" alt="">
                        <a href="service-details.html">
                            <h4>Уеб дизайн <br> и разработване</h4>
                        </a>
                    </div>
                    <div class="details">
                        <p>
                            Уеб дизайн с различни езици. Прост 
                            дизайн/ професионален дизайн. Зависи 
                            от купувача. И всякакви работещи уеб
                            приложения, включително с Бази Данни.
                        </p>
                        <a class="btns-style" href="service-details.html"><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <div class="thumb">
                        <img src="~/ImageRepository/sr5.png" alt="">
                        <a href="service-details.html">
                            <h4>
                                Фотошоп <br>
                                услуги
                            </h4>
                        </a>
                    </div>
                    <div class="details">
                        <p>
                            Всякакви фотошоп услуги, включително
                            и разработване на видео клипове,
                            снимки, лого, и много други...
                        </p>
                        <a class="btns-style" href="service-details.html"><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <div class="thumb">
                        <img src="~/ImageRepository/sr6.png" alt="">
                        <a href="service-details.html">
                            <h4>Гейм <br> девелъпинг</h4>
                        </a>
                    </div>
                    <div class="details">
                        <p>
                            Право на поръчване на игра. Клиента има право
                            да направи поръчка за игра с негови герои, карти, 
                            дрехи, оръжия и много други...
                        </p>
                        <a class="btns-style" href="service-details.html"><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End service-list section -->