@model MVC_Freelancer.Models.InputJobModel

<section class="header-section page-header" style="margin-top:50px;">
    <div class="container">
        <div class="row section-gap">
            <div class="col-md-12">
                <h1 style="color:white;">Услуги</h1>
            </div>
        </div>
    </div>
</section>


<section class="service-list-section section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <div class="thumb">
                        <img src="~/ImageRepository/sr1.png" alt="">
                        <a href="service-details.html">
                            <h4>
                                Pay Per Click <br>
                                Advertising
                            </h4>
                        </a>
                    </div>
                    <div class="details">
                        <p>
                            There are many variations from passages
                            and passage available them majority you
                            are going rassing them use a passage
                            you need to sure.
                        </p>
                        <a class="btns-style" href="service-details.html"><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <div class="thumb">
                        <img src="~/ImageRepository/sr2.png" alt="">
                        <a href="service-details.html">
                            <h4>
                                Digital Marketing <br>
                                and Branding
                            </h4>
                        </a>
                    </div>
                    <div class="details">
                        <p>
                            There are many variations from passages
                            and passage available them majority you
                            are going rassing them use a passage
                            you need to sure.
                        </p>
                        <a class="btns-style" href="service-details.html"><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <div class="thumb">
                        <img src="~/ImageRepository/sr3.png" alt="">
                        <a href="service-details.html">
                            <h4>
                                Search Engine <br>
                                Optimization
                            </h4>
                        </a>
                    </div>
                    <div class="details">
                        <p>
                            There are many variations from passages
                            and passage available them majority you
                            are going rassing them use a passage
                            you need to sure.
                        </p>
                        <a class="btns-style" href="service-details.html"><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <div class="thumb">
                        <img src="~/ImageRepository/sr4.png" alt="">
                        <a href="service-details.html">
                            <h4>Уеб дизайн <br> и разработване</h4>
                        </a>
                    </div>
                    <div class="details">
                        <p>
                            There are many variations from passages
                            and passage available them majority you
                            are going rassing them use a passage
                            you need to sure.
                        </p>
                        <a class="btns-style" href="service-details.html"><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <div class="thumb">
                        <img src="~/ImageRepository/sr5.png" alt="">
                        <a href="service-details.html">
                            <h4>
                                Фотошоп <br>
                                услуги
                            </h4>
                        </a>
                    </div>
                    <div class="details">
                        <p>
                            There are many variations from passages
                            and passage available them majority you
                            are going rassing them use a passage
                            you need to sure.
                        </p>
                        <a class="btns-style" href="service-details.html"><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <div class="thumb">
                        <img src="~/ImageRepository/sr6.png" alt="">
                        <a href="service-details.html">
                            <h4>Market Analize <br> and Research</h4>
                        </a>
                    </div>
                    <div class="details">
                        <p>
                            There are many variations from passages
                            and passage available them majority you
                            are going rassing them use a passage
                            you need to sure.
                        </p>
                        <a class="btns-style" href="service-details.html"><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End service-list section -->