@model IEnumerable<MVC_Freelancer.Models.InputCategoryModel>

@{
    ViewData["Title"] = "Категории - ";
}
<br></br>
<br>

<p>
    <a asp-action="Add" class="btn btn-warning">Добави нова категория</a>
</p>
<div class="d-flex justify-content-center">
    <table class="table" style="margin-left: 200px; margin-right:200px; ">
        <thead>
            <tr>
                <th>
                    Име
                </th>
                <th>
                    Опции
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Редактирай</a> |

                        <a asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>